// COLORS
$Primary-Brand-50: #EBF0FB;
$Primary-Brand-200: #305397;
$Primary-Brand-700: #20438C;
$Primary-Brand-800: #132854;

$Primary-Accent-50: #F2F9FE;
$Primary-Accent-100: #E5F0F6;
$Primary-Accent-700: #BDE2F8;

$Neutrals-Neutral-Alt: #FFFAF4;
$Neutrals-Neutral-500: #8F9299;
$Neutrals-Neutral-900: #181A1E;

$Secondary-Green-50: #F8FAE8;
$Secondary-Green-200: #F2F5D1;
$Secondary-Green-500: #DEE78D;
$Secondary-Green-700: #43452A;
$Secondary-Green-900: #282C09;

$Secondary-Orange-50: #FDEDE4;
$Secondary-Orange-200: #F29576;
$Secondary-Orange-500: #EF7C56;
$Secondary-Orange-700: #543D36;
$Secondary-Orange-900: #290D04;