@use "../utilities/variables";
footer {
    background-color: variables.$Primary-Brand-700;
    padding: 80px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    
    .footer-wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    h3 {
        font-family: "Lexend", sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 48px;
        color: #FFFFFF;
    }
    .brand-responsive {
        display: none;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        // min-width: 772px;
        align-items: flex-end;
        gap: 32px;

        .pages-container {
            padding: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
            li {
                a {
                    font-size: 1.125rem;
                    line-height: 24px;
                    color: variables.$Neutrals-Neutral-Alt;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .contact-container {
            display: flex;
            flex-direction: row;
            gap: 16px;
            li {
                .contact-mail {
                    display: inline-block;
                    padding: 12px 16px;
                    border-radius: 999px;
                    border: 1px solid #FFFFFF;
                    background-color: variables.$Primary-Accent-100;
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: variables.$Primary-Brand-700;
                }
                .contact-RRSS {
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    padding: 12px;
                    border-radius: 999px;
                    border: 1px solid #FFFFFF;
                    background-color: variables.$Primary-Accent-100;
                }
            }
        }
    }
}

// Tablet
@media(max-width: 1024px) {
    footer {
        margin: 16px;
        padding: 40px 24px;
        border-radius: 24px;
        .footer-wrapper {
            flex-direction: column;
            gap: 24px;
            .brand-desktop {
                display: none;
            }
            .brand-responsive {
                display: block;
            }
        }
        h3 {
            font-size: 2rem;
        }
        .footer-nav {
            gap: 24px;
            align-items: center;
            .pages-container {
                padding: 12px 8px;
                li {
                    a {
                        font-size: 0.875rem;
                        line-height: 16px;
                    }
                }
            }
            .contact-container {
                gap: 12px;
            }
        }
    }
}

// Mobile
@media(max-width: 743px) {
    footer {
        margin: 8px 16px;
        .footer-wrapper {
            align-items: flex-start;
            .brand-desktop {
                display: block;
            }
            .brand-responsive {
                display: none;
            }
            .footer-nav {
                align-items: flex-start;
                .pages-container {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0px;
                    padding: 12px 8px 12px 0px;
                    li {
                        padding: 12px 8px 12px 0px;
                    }
                }
                .contact-container {
                    gap: 4px;
                    li {
                        .contact-mail {
                            padding: 8px;
                            font-size: 0.875rem;
                            line-height: 16px;
                        }
                        .contact-RRSS {
                            padding: 8px;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}