@use "../utilities/variables";
@use "../utilities/mixins";

// Hero Section
.negocios-hero {
    background-image: url("../assets/img/serpientes/serpiente-brand-200-alt.svg");
    background-repeat: no-repeat;
    background-position: center -250px;
    background-color: variables.$Primary-Brand-700;
    border-radius: 40px;
    padding: 80px 56px 32px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .negocios-hero-wrapper {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        justify-content: center;
        align-items: center;

        .negocios-hero-details {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 64px;
            .hero-details-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                width: 100%;
                h1 {
                    color: #FFFFFF;
                }
                span {
                    @include mixins.tag(#FFFFFF, variables.$Primary-Brand-200, #FFFFFF);
                    border: 1px solid #FFFFFF;
                }
            }
            .hero-details-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 48px;
                padding-top: 48px;
                max-width: 50%;
                p {
                    color: #FFFFFF;
                    span {
                        font-weight: 700;
                    }
                }
                .hero-details-contact {
                    @include mixins.contact-button(#FFFFFF, variables.$Primary-Brand-50, variables.$Primary-Brand-700);
                    width: -webkit-fill-available;
                    align-self: center;
                }
            }
        }
        .negocios-hero-cards-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .negocios-hero-card {
                @include mixins.card-container(variables.$Neutrals-Neutral-Alt, 80px);

                .negocios-hero-card-text {
                    @include mixins.card-content(variables.$Primary-Accent-100);
                    h4 {
                        color: variables.$Primary-Brand-700;
                    }
                    p {
                        color: variables.$Primary-Brand-700;
                        margin-top: 8px;
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

// Profesionales Section
.profesionales {
    background-color: variables.$Primary-Accent-700;
    padding: 80px 56px;
    margin: 16px 0px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .profesional-wrapper {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profesional-tag {
            align-self: flex-end;
            margin: 0px 40px -30px 0;
            transform: rotate(2.69deg);
            @include mixins.tag(variables.$Secondary-Orange-500, #FFFFFF, variables.$Secondary-Orange-900);
        }
        .profesional-info-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 80px;
            align-items: flex-end;
            .tag-mobile {
                display: none;
            }

            .profesional-info-text {
                max-width: 540px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                flex: 1 0 0;

                h2 {
                    color: variables.$Primary-Brand-700;
                }
                p {
                    color: variables.$Primary-Brand-700;
                }
            }
            .profesional-info-card {
                padding: 16px;
                border-radius: 24px;
                background-color: variables.$Neutrals-Neutral-Alt;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 24px;
                flex: 1 0 0;
                .info-tipos-container {
                    padding: 32px;
                    border-radius: 20px;
                    background-color: variables.$Primary-Accent-100;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    gap: 32px;

                    .info-tipos {
                        h5, p {
                            color: variables.$Neutrals-Neutral-900;
                        }
                    }
                }
                .info-tipos-button {
                    @include mixins.contact-button(variables.$Primary-Brand-700, variables.$Primary-Brand-800, #FFFFFF);
                    width: -webkit-fill-available;
                    align-self: center;
                }
            }
        }
    }
}

// Que incluye Section
.incluye {
    background-image: url("../assets/img/serpientes/serpiente-brand-200.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 56px;
    border-radius: 40px;
    background-color: variables.$Primary-Brand-700;
    display: flex;
    flex-direction: column;
    align-items: center;

    .incluye-wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        // incluye-cards-container ABAJO PARA EXTENDERLO A SOBRE-EN
        .incluye-title-container {
            h2 {
                color: #FFFFFF;
                margin-bottom: 8px;
            }
            p {
                color: #FFFFFF;
            }
        }
        .incluye-info-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .incluye-info-text-container {
                padding: 40px;
                border-radius: 24px;
                background-color: #FFFFFF;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 40px;
                .incluye-info-text {
                    h4 {
                        color: variables.$Primary-Brand-700;
                        margin-bottom: 8px;
                    }
                    p {
                        color: variables.$Primary-Brand-700;
                    }
                }
                .incluye-info-button {
                    @include mixins.contact-button(#FFFFFF, variables.$Primary-Brand-50, variables.$Primary-Brand-700);
                    width: -webkit-fill-available;
                    align-self: center;
                    max-width: fit-content;
                    border: 2px solid variables.$Primary-Brand-700;
                }
            }
        }
    }
}
.incluye-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    .incluye-card-wrapper {
        @include mixins.card-container(#FFFFFF, 40px);
        .incluye-card {
            @include mixins.card-content(#FFFFFF);
            span {
                padding: 12px;
                border-radius: 8px;
                width: 24px;
                height: 24px;
            }
            &-blue {
                background-color: variables.$Primary-Accent-100;
                span {
                    background-color: variables.$Primary-Accent-700;
                }
            }
            &-green {
                background-color: variables.$Secondary-Green-50;
                span {
                    background-color: variables.$Secondary-Green-500;
                }
            }
            &-orange {
                background-color: variables.$Secondary-Orange-50;
                span {
                    background-color: variables.$Secondary-Orange-200;
                }
            }
            p {
                color: variables.$Neutrals-Neutral-900;
            }
        }
    }
}