@use "../utilities/variables";
@use "../utilities/mixins";
@use "./index";

.programas-main {
    background-image: url("../assets/img/serpientes/serpiente-brand-200-alt.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    @extend.programas;
    background-color: variables.$Primary-Brand-700;
    .programas-wrapper {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        .programas-title {
            flex-direction: column;
            gap: 8px;
            h1 {
                color: #FFFFFF;
            }
            p {
                color: #FFFFFF;
            }
            span {
                @include mixins.tag(#FFFFFF, variables.$Primary-Brand-200, #FFFFFF);
                border: 1px solid #FFFFFF;
            }
        }
        .programas-cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .programas-card {
                min-width: fit-content;
                background-color: variables.$Neutrals-Neutral-Alt;
                .programas-card-flow {
                    background-color: variables.$Primary-Brand-50;
                    .programa-tag {
                        @include mixins.tag(variables.$Primary-Brand-700, #FFFFFF, variables.$Primary-Brand-700);
                    }
                }
                .programas-card-kids {
                    background-color: variables.$Secondary-Green-200;
                    .programa-tag {
                        @include mixins.tag(variables.$Secondary-Green-500, #FFFFFF, variables.$Secondary-Green-900);
                    }
                }
                .programas-card-flash {
                    background-color: variables.$Primary-Accent-100;
                    .programa-tag {
                        @include mixins.tag(variables.$Primary-Accent-700, #FFFFFF, variables.$Primary-Brand-700);
                    }
                }
                .card-ielts {
                    background-color: variables.$Secondary-Orange-50;
                    .programa-tag {
                        @include mixins.tag(variables.$Secondary-Orange-500, #FFFFFF, variables.$Secondary-Orange-900);
                    }
                    .programa-details-container {
                        .programa-details-wrapper {
                            h4, p {
                                color: variables.$Secondary-Orange-900;
                            }
                        }
                        .programa-details {
                            @include mixins.info-button(variables.$Secondary-Orange-900, variables.$Secondary-Orange-700, #FFFFFF);
                        }
                    }
                }
            }
        }
    }
}
