*, *::before, *::after { margin: 0; padding: 0; }

body {
  font-family: "DM Sans", sans-serif;
  background: #FFFFFF;
  min-height: 100vh;
}
main {
  padding: 0 24px;
}
footer {
  margin: 24px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}